.filter-container {
  position: relative;
  height: auto;
  overflow: hidden;
  border-bottom: solid thin #c8c6c4;
  padding-bottom: 10px;
}

.filter-header {
  font-size: medium;
  font-weight: 700;
  padding-bottom: 20px;
}
.filter-buttons {
  padding: 8px;
  float: right;
}
.buttons {
  margin-left: 20px;
}
.collapse-style {
  float: right;
  font-weight: 500;
  cursor: pointer;
}
.filter-row {
  padding-bottom: 10px;
}
